services:
    directus:
        image: directus/directus:11.5.1
        ports:
            - 8055:8055
        volumes:
            - ./database:/directus/database
            - ./uploads:/directus/uploads
            - ./extensions:/directus/extensions
        environment:
            SECRET: "ZDY0YzJmNWItYTJiMC00MWFhLTk2NTItMGFkZjc3MjA1M2MC0"
            DB_CLIENT: "sqlite3"
            DB_FILENAME: "/directus/database/data.db"
            WEBSOCKETS_ENABLED: "true"
            EXTENSIONS_AUTO_RELOAD: "true"
            ADMIN_EMAIL: "admin@mail.com"
            ADMIN_PASSWORD: 123456

